body {
    margin: 0;
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "header header"
        "shape-controls shape-table"
        "shape-list shape-list"
        "footer footer";
    grid-auto-rows: min-content;
}

header {
    grid-area: header;
}

shape-controls {
    grid-area: shape-controls;
}

shape-table {
    grid-area: shape-table;
}

shape-list {
    grid-area: shape-list;
}

footer {
    grid-area: footer;
}